<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->

  </head>
  <body>
	  <h1>WELCOME TO RELATIVE URL TEMPLATES</h1>
	  <a href="{% url 'basic_app:other'  %}">LINK TO OTHER</a>
	  <a href="{% url 'admin:index'  %}">LINK TO ADMIN</a>
	  <a href="{% url 'index'  %}">LINK TO INDEX</a>
  </body>
  </html>